---
import NyeEvents from "../components/react/NyeEvents";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { data, error } = await supabase
  .from("timezones")
  .select("*")
  .is("active", true);
---

<Layout title="LIVE">
  <Header />
  <div class="">
    <div class="mt-4">
      <NyeEvents events={data ?? []} client:load />
    </div>
  </div>
  <Footer />
</Layout>
