---
import { Calendar, Globe2, Twitch } from "lucide-astro";

const year = new Date().getFullYear();
---

<footer class="row-start-3 flex gap-6 flex-wrap items-center justify-center">
  <a
    class="flex items-center gap-2 hover:underline hover:underline-offset-4"
    href="https://timezonedb.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Globe2 size={16} />
    TimezoneDB
  </a>
  <a
    class="flex items-center gap-2 hover:underline hover:underline-offset-4"
    href="https://www.twitch.tv/vanderfondi"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Twitch size={16} />
    Twitch
  </a>
  <a
    class="flex items-center gap-2 hover:underline hover:underline-offset-4"
    href="/chao2024"
    rel="noopener noreferrer"
  >
    <Calendar size={16} />
    #Chao2024
  </a>
</footer>
