---
import { Calendar, Github, Globe2, Twitch, Twitter } from "lucide-astro";

const year = new Date().getFullYear();
---

<footer class="row-start-3 flex gap-6 flex-wrap items-center justify-center">
  <a
    class="flex items-center gap-2 hover:underline hover:underline-offset-4"
    href="https://github.com/gerardbourguett"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Github size={16} />
    Repository
  </a>
  <a
    class="flex items-center gap-2 hover:underline hover:underline-offset-4"
    href="https://www.twitch.tv/vanderfondi"
    target="_blank"
    rel="noopener noreferrer"
  >
    <Twitch size={16} />
    Twitch
  </a>
  <a
    class="flex items-center gap-2 hover:underline hover:underline-offset-4"
    href="https://www.twitter.com/vanderfondi"
    rel="noopener noreferrer"
  >
    <Twitter size={16} />
    Twitter
  </a>
</footer>
