---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>New Year Countdown</title>
  </head>
  <body>
    <div
      class="min-h-screen bg-gradient-to-b from-black to-zinc-900 text-white antialiased"
    >
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8">
        <slot />
        <Analytics />
        <SpeedInsights />
      </div>
    </div>
  </body>
</html>

<style is:global>
  html {
    background: black;
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
</style>
